@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Flight planner is a U.S. flight planning and tracking web-application that provides you US airport detail, airline information, aircraft operators, 
    flight tracking solutions, predictive analytics and decision making tools incorporated with weather and delay information.
</p>

<p>
    We use the the flight delay data incorporate with reliable web-based interfaces and APIs yield the capable and useful flight and delay 
    tracking data platform. The program will enables users to search US airline carriers’ statistics including on time rate, delay rate due 
    to weather, security, aircraft, and cancellation. It also provide US major and regional airports information including the city where 
    airport located (latitude and longitude), and flight departure data for the user selected airports. In addition, users can plan their 
    flight using the app by providing origin and destination, our app will provide available flights with price information and provide weather 
    detail and forecast for the users  so that they can make better flight plans.
</p>
